/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /* profil */
  .profil{
    width: 49%;
    min-height: 500px;
  }

  .ketua {
    margin-left: 25%;
  }

  .middle{
    margin-right: 0;
  }

  .last{
    margin : 0 auto;
  }

  .heading h2 {
    font-size: 20px;
  }
  /*image-slider*/
  .image-slider {
    margin: 80px auto; 
    width: 600px;
    height: 256px; 
  }
    
  .isi-slide img { 
    width: 600px;
    height: 256px;
    float: left; 
  }

  @-webkit-keyframes slider {         
    0% {
      left: 0; opacity: 0; 
    }
    2% {
      opacity: 1; 
    }       
    32% {
      left: 0; opacity: 1; 
    }     
    34% {
      opacity: 0; 
    }     
    35% {
      opacity: 0; 
    }     
    37% {
      left: -600px; opacity: 1; 
    }     
    67% {
      left: -600px; opacity: 1; 
    }     
    69% {
      opacity: 0; 
    }     
    70% {
      opacity: 0; 
    }     
    72% {
      left: -1200px; opacity: 1; 
    }     
    99% {
      left: -1200px; opacity: 1; 
    }           
    100% { 
      left: 0; opacity: 0;
    } 
  } 
    
  @keyframes slider {     
    0% {
      left: 0; opacity: 0; 
    }
    2% {
      opacity: 1; 
    }       
    32% {
      left: 0; opacity: 1; 
    }     
    34% {
      opacity: 0; 
    }     
    35% {
      opacity: 0; 
    }     
    37% {
      left: -600px; opacity: 1; 
    }     
    67% {
      left: -600px; opacity: 1; 
    }     
    69% {
      opacity: 0; 
    }     
    70% {
      opacity: 0; 
    }     
    72% {
      left: -1200px; opacity: 1; 
    }     
    99% {
      left: -1200px; opacity: 1; 
    }           
    100% { 
      left: 0; opacity: 0;
    } 
  }
  /*tinggal pesan*/
  .form-input {
    width: 60%;
    margin-left: 20%;
  }
  .form-input p {
    padding-left: 0;
  }
  input, textarea {
    width: 300px;
  }
  .btn {
    margin-left: 260px;
  }

  /*pelatihan*/
  .lesson {
    min-height: 600px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) { 
  /*header-right */
  .header-right{
    display:none;
  }
  
  /* menu-icon */
  .menu-icon{
    display:block;
  }

  /*profil*/
  .profil {
    width: 100%;
    margin-bottom: 5%;
  }

  .ketua {
    margin-left: 2%;
  }

  /*image-slider*/
  .image-slider {
    margin: 80px auto; 
    width: 450px;
    height: 192px; 
  }
    
  .isi-slide img { 
    width: 450px;
    height: 192px;
    float: left; 
  }

  @-webkit-keyframes slider {         
    0% {
      left: 0; opacity: 0; 
    }
    2% {
      opacity: 1; 
    }       
    32% {
      left: 0; opacity: 1; 
    }     
    34% {
      opacity: 0; 
    }     
    35% {
      opacity: 0; 
    }     
    37% {
      left: -450px; opacity: 1; 
    }     
    67% {
      left: -450px; opacity: 1; 
    }     
    69% {
      opacity: 0; 
    }     
    70% {
      opacity: 0; 
    }     
    72% {
      left: -900px; opacity: 1; 
    }     
    99% {
      left: -900px; opacity: 1; 
    }           
    100% { 
      left: 0; opacity: 0;
    } 
  }     
    
  @keyframes slider {     
    0% {
      left: 0; opacity: 0; 
    }
    2% {
      opacity: 1; 
    }       
    32% {
      left: 0; opacity: 1; 
    }     
    34% {
      opacity: 0; 
    }     
    35% {
      opacity: 0; 
    }     
    37% {
      left: -450px; opacity: 1; 
    }     
    67% {
      left: -450px; opacity: 1; 
    }     
    69% {
      opacity: 0; 
    }     
    70% {
      opacity: 0; 
    }     
    72% {
      left: -900px; opacity: 1; 
    }     
    99% {
      left: -900px; opacity: 1; 
    }           
    100% { 
      left: 0; opacity: 0;
    } 
  }

  /*tentang*/
  .isi-tentang {
    width: 100%;
  }

  /*tinggal pesan*/
  .form-input {
    width: 80%;
    margin-left: 10%;
  }

  .btn {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }

  /*pelatihan*/
  .lesson{
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
  }
}